name: Deploy

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'harryzcy'
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          check-latest: true

      - name: Build
        run: |
          make build-cloudflare

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: mailbox-browser
          directory: dist
          workingDirectory: cloudflare
          wranglerVersion: "3"
