name: Deploy

on:
  push:

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-24.04
    if: github.repository_owner == 'harryzcy'
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          disable-telemetry: true
          egress-policy: block
          allowed-endpoints: >
            api.cloudflare.com:443
            api.github.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            sparrow.cloudflare.com:443

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          check-latest: true

      - name: Extract branch name
        shell: bash
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/tags/ ]]; then
            echo "branch=main" >> "$GITHUB_OUTPUT"
          else
            echo "branch=${GITHUB_REF#refs/heads/}" >> "$GITHUB_OUTPUT"
          fi
        id: extract_branch

      - name: Build
        run: |
          make build-cloudflare

      - name: Get Wrangler Version
        id: get_wrangler_version
        run: |
          cd cloudflare
          WRANGLER_VERSION=$(npm list wrangler --depth=0 | grep wrangler | awk -F@ '{print $2}')
          echo "wrangler_version=$WRANGLER_VERSION" >> "$GITHUB_OUTPUT"

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy --project-name mailbox-browser --branch ${{ steps.extract_branch.outputs.branch }} dist
          workingDirectory: cloudflare
          wranglerVersion: ${{ steps.get_wrangler_version.outputs.wrangler_version }}
