name: Release Drafter

on:
  push:
    branches:
      - main
    tags-ignore:
      - "v*"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  update:
    name: Generate Notes
    permissions:
      contents: write
      pull-requests: write
    uses: harryzcy/github-actions/.github/workflows/release-drafter.yml@2e73e1de26f548a8108b79de2f91ce5fae210bb2 # main
